<div class="jumbotron">
  <h1>'Sup?</h1>
  <p class="lead">

  <img ng-src="{{ image }}" >
  </p>

</div>

<div class="row marketing">

  <div class="col-lg-4 col-lg-offset-4">
    <h4>choose a file:</h4>
    <fieldset>
      <input type="file" id="fileInput" name="fileInput" placeholder="" class="form-control"
             onchange="angular.element(this).scope().fileNameChanged(this)">
      <button class="btn btn-success" ng-click="uploadFile()">Upload</button>
    </fieldset>

  </div>
</div>
